@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}